<?xml version="1.0" encoding="utf-8"?>
<configuration>
    
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Billing_System.My.MySettings.dbbillingConnectionString" connectionString="Dsn=Billing_System;uid=root;database=dbbilling;db=dbbilling;no_schema=1;port=3306;server=localhost;user=root" providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>